// -----------------------------------------------------------------------------
// MAIN STYLE
// -----------------------------------------------------------------------------
.checklists .badge{
  //display: inline-block;
  //min-width: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
  color: $white;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $light-grey;
  //border-radius: 50%;
  //width: 26px;
  //height: 26px;
  //line-height: 26px;
  top: 0;
  float: left;
}
.checklists .badge.arrow{
  //display: inline-block;
  //min-width: 0;
  //padding: 0px 5% 0 6%;
  font-size: 12px;
  font-weight: bold;
  color: #777777;
  vertical-align: middle;
  //white-space: nowrap;
  //text-align: center;
  //background-color: transparent;
  //border-radius: 50%;
  //width: 26px;
  //height: 26px;
  line-height: 26px;
  /*top: 0;*/
  background-color: transparent;
}
.list-group-item > .badge.arrow{
  float: left;
}
.checklists .list-group-item{
  border-left: none;
  border-right: none;
  padding: 18px 18px 18px 0;
  height: 60px;
  &:hover {
    background-color:#eee;
    color: $secondary-color;

    .checklists .badge.arrow{
      background-color:#eee;
    }
    a{
      color: $secondary-color;
      text-decoration: none;
    }
  }
}
.checklist .list-group-item{
  border-left: none;
  border-right: none;
  padding: 5px 10px 5px 0;
  height: 45px;
}
.checklists .list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}


.checklists .check,
.checklist .check{
  color: $secondary-color;
  display: -webkit-box;
  float: left;
  font-size: 19px;
  line-height: 22px;
}
.checklist .no-check{
  color: $main-color;
  display: -webkit-box;
  float: left;
  font-size: 19px;
  line-height: 22px;
}
.checklist .plus-check{
  color: $dark-main-color;
  display: -webkit-box;
  float: left;
  font-size: 19px;
  line-height: 22px;
}
.checklists a p,
.checklist a p{
  display: -webkit-box;
  float: left;
  margin: 0;
  padding-left: 37px;
}
.checklists a  >  span.check,
.checklist a > span.check,
.checklist a > span.no-check,
.checklist a > span.plus-check {
  padding-left: 9px;
  padding-right: 9px;
}
.check + .uncheck,
.no-check + .uncheck,
.plus-check + .uncheck {
  padding-left: 0 !important;
}

table{
  border-color: $secondary-color;
}
.table-responsive{
  border: none !important;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid $secondary-color !important;
}

.list-group-item label {
  display: inline-block;
  width: 90%;
  margin-bottom: 5px;
  font-weight: bold;
  float: left;
}
.list-group-item .form-control{
  width: 80%;
  float: left;
  box-shadow: none;
  border: none;
  font-weight: 300;
  font-size: 17px;
  padding: 0 20px;
}
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: 'simple-line-icons';
  display: inline-block;
  float: left;
  width: 15%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
  line-height: 30px;
  padding: 0 15px;
}

input[type=checkbox] + label:before { /* unchecked icon */
  content: "\e615";
  color: #ef7729;
}
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { /* checked icon */
  content: "\e080";
  color: #60c0c5;
}
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

label.baby{
  line-height: 2;
}
label.baby:before{
  padding-left: 0 !important;
}
.add-row{
  padding: 10px 10px 10px 0 !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}
.add-row span{
  width: 14%;
  padding-left: 15px!important;
  padding-right: 0!important;
}
.icons, .icons[class*=" icon-"], .icons[class^=icon-]{
  font-family: 'simple-line-icons' !important;
}
.cl-item{
  height:60px;
  overflow: hidden;
  margin-bottom: -1px;
}
.settings-checklist{
  top: -59px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 1;
  background: #d84f19;
  height: 60px;
  border: #fff;
  position: relative;
  top: -59px;
  overflow: hidden;
  margin-right: 0;
  transition: all .5s;
  padding:12px 15px;
}
.settings-checklist.settings-display{
  -webkit-transform: translateX(0);
  -ms-transform: translatex(0);
  transform: translateX(0);
  margin-right: 21%;
  left: 0;
  background: #d84f19;
  padding:9px 20px;
  &:hover{
    background: #d84f19;
  }
}
.settings-checklist .btn{
  height: 40px;
  width: 40px;
}
#addPost{
  padding: 12px 20px;
}
#addPost input{
  padding: 0 20px;
  border: 1px solid #ccc;
}