<form action="{{url}}" method="PUT" class="editForm">
<header class="header" role="banner">
	<div class="header-inner clearfix">
		<p class="logo">
			{{data.currentUser.acf.name_child}}
		</p>
		<div class="navigation-edit-toggle pull-right">
			<button type="submit"><i class="icons icon-note"></i></button>
		</div>
	</div>
</header>

<div class="wrapper">
	<div class="content container weight">
		<h1>Jouw lichaamsmetingen</h1>
		<div class="col-xs-12 col-sm-6 col-md-7 col-lg-8">
			<canvas id="canvas" height="300px"></canvas>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">

			<div class="table-responsive">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>#</th>
							<th>Datum</th>
							<th>Gewicht in kg</th>
						</tr>
						</thead>
						<tbody>
						<tr class="row-table-add-btn" ng-show="last_item_weight_date < today" ng-hide="last_item_weight_date == today || !data.currentUser.acf.baby_weight_statistics.length">
							<th colspan='3'><a href="#" class="add-table-row btn">
									Voeg nieuw item toe ...
								</a>
							</th>
						</tr>
						<tr ng-repeat="item in data.currentUser.acf.baby_weight_statistics | orderBy:'-weight_date'" id="{{data.currentUser.acf.baby_weight_statistics.length - $index}}" class="table_item">
							<th>{{data.currentUser.acf.baby_weight_statistics.length - $index}}</th>
							<td>
								<input type="text" id="today" ng-readonly="item.weight_date != today" class="form-control" name="fields[baby_weight_statistics][{{data.currentUser.acf.baby_weight_statistics.length - $index}}][weight_date]" value="{{item.weight_date}}" data-date-format="yyyy-mm-dd">
							</td>
							<td>
								<input type="text" id="weight" class="form-control" name="fields[baby_weight_statistics][{{data.currentUser.acf.baby_weight_statistics.length - $index}}][weight_number]" value="{{item.weight_number}}" >
							</td>
						</tr>
						<tr ng-if="!data.currentUser.acf.baby_weight_statistics.length" class="table_item">
							<th>1</th>
							<td>
								<input type="text" id="today" class="form-control" name="fields[baby_weight_statistics][1][weight_date]" value="{{today}}" data-date-format="yyyy-mm-dd">
							</td>
							<td>
								<input type="text" id="weight" class="form-control" name="fields[baby_weight_statistics][1][weight_number]" value="">
							</td>
						</tr>




						</tbody>


					</table>
					<a href="{{baseUrl}}/child" class="btn secondary pull-left"><i class="icon icon-arrow-left"></i> Terug</a>
					<button type="submit" class="btn secondary pull-right">Opslaan</button>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
			<div class="modal fade" id="modalResponse" tabindex="-1" role="dialog" aria-labelledby="modalResponseLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="modalResponseLabel">Response</h4>
						</div>
						<div class="modal-body">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div ng-repeat="item in data.currentUser.acf.baby_weight_statistics">
			<div class="item">

				<label for="fields[baby_weight_statistics][{{$index}}][weight_date]">Current date</label>
				<div class="input-group date" data-provide="datepicker">
					<input type="text" class="form-control datepicker" name="fields[baby_weight_statistics][{{$index}}][weight_date]" value="{{item.weight_date}}" data-date-format="yyyy-mm-dd">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>

				<div class="form-group">
					<label for="fields[baby_weight_statistics][{{$index}}][weight_number]">Current weight</label>
					<input type="text" name="fields[baby_weight_statistics][{{$index}}][weight_number]" value="{{item.weight_number}}" class="form-control">
				</div>

			</div>

		</div>
		<a href="#" class="add-row btn">
			Voeg nieuw item toe ...
		</a>-->

	</div>
</div>
</form>