<header class="header" role="banner">
    <div class="header-inner clearfix">
        <p class="logo">
            GIDS
        </p>
    </div>
</header>
<div class="wrapper">

    <div class="content container">

        <div class="clearfix row" role="main">
            <div class="col-xs-12 col-md-8 offset-md-2">
                <div class="list-group checklists">
                    <div ng-repeat="category in categories" class="cl-item">
                        <div  class="list-group-item cl-title col-xs-12">
                            <a  href="/gids/{{category.id}}/{{category.slug}}" id="{{$index + 1}}">
                                <p class="uncheck">{{category.name}}</p>
                                <span class="badge icons icon-arrow-right arrow pull-right"> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>