<header class="header" role="banner">
    <div class="header-inner clearfix">
        <p class="logo">
            {{data.currentUser.acf.name_child}}
        </p>

        <div class="navigation-edit-toggle pull-right" id="settings">
            <i class="icons icon-settings"></i>
        </div>
        <article>

            <nav role="navigation" class="settings-navigation clearfix">
                <ul id="menu-mobile-navigation" class="mobile-nav">
                    <li><a href="#">Profiel {{data.currentUser.acf.name_child}}</a>
                        <ul>
                            <li ng-show="user.capabilities.edit_posts"><a href="/baby/baby-edit-picture/{{data.currentUser.id}}">Profielfoto {{data.currentUser.acf.name_child}} wijzigen</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/baby/baby-settings/{{data.currentUser.id}}">Bewerk profiel {{data.currentUser.acf.name_child}}</a></li>

                        </ul>
                    </li>
                    <li><a href="#">Lichaamsmetingen</a>
                        <ul>
                            <li ng-show="user.capabilities.edit_posts"><a href="/baby/weight/{{data.currentUser.id}}">Analyse gewicht</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/baby/length/{{data.currentUser.id}}">Analyse grootte</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </article>

    </div>
</header>

<div class="clearfix profile-header no-gutter" role="main">
    <div class="col-xs-12 col-md-12">
        <div class="blue-banner">
            <div class="col col-xs-12 user-info">
                <p class="user-name">{{data.currentUser.acf.name_child}} - {{data.currentUser.acf.birthday_child}}</p>
            </div>
            <div class="col col-xs 12 col-md-8 offset-md-2 no-padding">
                <div class="col col-xs-4 col-md-5 info-banner left">
                    <p>Leeftijd</p>

                    <p class="result">{{ thisDay | amDifference: data.currentUser.acf.birthday_child  : 'years' }}</p>
                </div>
                <div class="col col-xs-4 col-md-2 user-profile baby">
                    <ui-image ng-show="data.currentUser.acf.baby_profile_picture" data-src="{{data.currentUser.acf.baby_profile_picture}}" src="{{data.currentUser.acf.baby_profile_picture}}" data-title="baby_profile_picture"></ui-image>
                    <a ng-hide="data.currentUser.acf.baby_profile_picture" href="/baby/baby-edit-picture/{{data.currentUser.id}}" class="result">
                        <p class="result"><i class="icon-plus"></i></p>
                    </a>
                </div>
                <div class="col col-xs-4 col-md-5 info-banner right">
                    <p>BMI</p>
                    <p class="result">{{bmi}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="content container">

        <div class="clearfix row" role="main">
            <div class="col-xs-12 col-md-12">
                <div class="blue-reverse-banner">
                    <div class="col col-xs-4 info-baby left">
                        <p>Grootte baby</p>
                        <p class="result">{{last_item_length}}<span> cm</span></p>
                    </div>
                    <div class="col col-xs-4 info-baby center">
                        <p class="stadia" id="{{}}">BMI</p>
                        <p class="user-extra">{{bmi}}</p>
                    </div>
                    <div class="col col-xs-4 info-baby right">
                        <p>Gewicht baby</p>
                        <p class="result">{{last_item_weight}}<span> kg</span></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="clearfix row" role="main">
            <div class="col col-xs-4 col-sm-3 col-md-3">
                <div class="blue-reverse-banner baby-wrapper">
                    <div class="info-baby center">
                        <p class="user-extra"><i class="icon-plus"></i></p>
                    </div>
                </div>
            </div>
            <a ng-repeat="post in posts_child_profile" class="col col-xs-4 col-sm-3 col-md-3" href="/baby/{{post.id}}">
                <div class="blue-reverse-banner baby-wrapper" style="background-image: url('{{post.featured_image}}');">
                    <div class="info-baby center">
                        <p class="user-extra"><i class="icon-plus"></i></p>
                    </div>
                </div>
            </a>
        </div>



        <!--<div class="col-xs-12 col-md-7">

            <div ng-repeat="post in posts" class="clearfix row" role="main">
                <div class="col-xs-12 col-md-12">
                    <div class="orange-reverse-banner">
                        <div class="col col-xs-12 info-baby center">
                            <a href="blog/{{post.slug}}"><h2>{{post.title.rendered}}</h2></a>
                            <p ng-bind-html="post.content.rendered">Wat je kleine wondertje de gehele dag doet in je buik?
                                Hij trekt gezichten, slikt, ademt, hikt, beweegt zijn armen en benen, zuigt op zijn vingers en draait zijn hoofd.
                                Wees dus maar niet bang dat hij zich verveelt! Is hij zo druk dat je er ’s nachts niet van kan slapen?
                                Troost je dan met de gedachte dat al die bewegingen een teken zijn dat hij gezond is.
                                Iedere week groeien de kansen van je baby om buiten de baarmoeder te overleven.
                                Dit komt onder andere door het extra lichaamsvet en de betere werking van de longen.
                                Wordt je baby voor de 37ste week geboren dan geldt dit nog wel als een vroeggeboorte (prematuur).</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->
    </div>
</div>