<form action="{{urlAdd}}"  method="POST" class="addFormPostBaby">
<header class="header" role="banner">
    <div class="header-inner clearfix">
        <p class="logo">
            {{data.currentUser.acf.name_child}}
        </p>

        <div class="navigation-edit-toggle pull-right" id="settings">
            <i class="icons icon-settings"></i>
        </div>
        <article>

            <nav role="navigation" class="settings-navigation clearfix">
                <ul id="menu-mobile-navigation" class="mobile-nav">
                    <li><a href="#">Profiel {{data.currentUser.acf.name_child}}</a>
                        <ul>
                            <li ng-show="user.capabilities.edit_posts"><a href="/child/child-edit-picture/{{data.currentUser.id}}">Profielfoto {{data.currentUser.acf.name_child}} wijzigen</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/child/child-settings/{{data.currentUser.id}}">Bewerk profiel {{data.currentUser.acf.name_child}}</a></li>

                        </ul>
                    </li>
                    <li><a href="#">Lichaamsmetingen</a>
                        <ul>
                            <li ng-show="user.capabilities.edit_posts"><a href="/child/weight/{{data.currentUser.id}}">Analyse gewicht</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/child/length/{{data.currentUser.id}}">Analyse grootte</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </article>

    </div>
</header>

<div class="clearfix profile-header no-gutter" role="main">
    <div class="col-xs-12 col-md-12">
        <div class="blue-banner">
            <div class="col col-xs-12 user-info">
                <p class="user-name">{{data.currentUser.acf.name_child}}</p>
            </div>
            <div class="col col-xs 12 col-md-8 offset-md-2 no-padding">
                <div class="col col-xs-4 col-md-5 info-banner left">
                    <p>Verjaardag</p>
                    <p class="result birthday">{{brithday}}</p>
                </div>
                <div class="col col-xs-4 col-md-2 user-profile baby">
                    <!--<ui-image ng-show="data.currentUser.acf.baby_profile_picture" data-src="{{data.currentUser.acf.baby_profile_picture}}" src="{{data.currentUser.acf.baby_profile_picture}}" data-title="baby_profile_picture"></ui-image>-->
                    <div class="user-img" style="background-image:url('{{data.currentUser.acf.baby_profile_picture}}')"></div>

                    <a ng-hide="data.currentUser.acf.baby_profile_picture" href="/child/child-edit-picture/{{data.currentUser.id}}" class="result">
                        <p class="result"><i class="icon-plus"></i></p>
                    </a>
                </div>
                <div class="col col-xs-4 col-md-5 info-banner right">
                    <p>Leeftijd</p>
                    <p class="result">{{ thisDay | amDifference: data.currentUser.acf.birthday_child  : 'years' }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="content container">
        <div class="clearfix row" role="main">
            <div class="col-xs-12 col-md-12">
                <div class="blue-reverse-banner">
                    <div class="col col-xs-4 info-baby left">
                        <p>Grootte kind</p>
                        <p ng-show="data.currentUser.acf.baby_length_statistics" class="result">{{last_item_length}}<span> cm</span></p>
                        <a  ng-hide="data.currentUser.acf.baby_length_statistics" href="/child/length/{{data.currentUser.id}}">
                            <p class="result"><i class="icon-plus"></i></p>
                        </a>
                    </div>
                    <div class="col col-xs-4 info-baby center">
                        <p class="stadia" id="{{}}">BMI</p>
                        <p class="user-extra">{{bmi}}</p>
                    </div>
                    <div class="col col-xs-4 info-baby right">
                        <p>Gewicht kind</p>
                        <p ng-show="data.currentUser.acf.baby_weight_statistics" class="result">{{last_item_weight}}<span> kg</span></p>
                        <a  ng-hide="data.currentUser.acf.baby_weight_statistics" href="/child/weight/{{data.currentUser.id}}">
                            <p class="result"><i class="icon-plus"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div ng-hide="!data.currentUser.acf.baby_weight_statistics || !data.currentUser.acf.baby_length_statistics" class="clearfix row" role="main">
            <div class="col col-xs-4 col-sm-3 col-md-3">
                <div class="baby-wrapper">
                        <a class="btn" id="addBabyPost"><i class="icon-plus"></i></a>
                </div>
            </div>
            <a ng-repeat="post in posts_child_profile" class="col col-xs-4 col-sm-3 col-md-3" href="/child/{{post.id}}">
                <div class="blue-reverse-banner baby-wrapper">
                    <div class="col-xs-12 baby-container" style="background-image: url('{{post.featured_image}}');"></div>
                </div>
            </a>
        </div>

        <div class="clearfix row" role="main">
            <div class="col col-xs-12">
                <div class="modal fade" id="modalResponse" tabindex="-1" role="dialog" aria-labelledby="modalResponseLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="modalResponseLabel">Nieuwe foto</h4>
                            </div>
                                <div class="modal-body">
                                    <label for="title">Titel</label>
                                    <div class="form-group">
                                        <input type="text" id="title" name="title" class="form-control">
                                    </div>

                                    <label for="featured_media">File URL</label>
                                    <input type="hidden" id="acf-file-url">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="featured_media" id="featured_media">
                                        <span class="input-group-btn">
                                    <button type="button" class="btn primary" id="featured_media_btn">Select file</button>
                                </span>
                                    </div>

                                    <span id="thumbnail"></span>

                                    <br><br>
                                    <label for="content">Beschrijving</label><br>
                                    <textarea id="content" name="content" class="col-xs-12"></textarea>
                                    <br>
                                    <br>
                                    <!--<button type="submit" ng-click="updatePost()" >submit</button>-->


                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn secondary pull-right">submit</button>
                                    <button type="button" class="btn primary pull-left" data-dismiss="modal">Close</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

