<header class="header" role="banner">
	<div class="header-inner clearfix">
		<p class="logo">
			{{checklist.title.rendered}}
		</p>
	</div>
</header>
<div class="sub-header clearfix ">
	<div class="row">
		<!--<a href="#" class="pull-left col-xs-2 col-lg-1"><i class="icons icon-arrow-left"> </i></a>-->

		<p class="col-xs-12 col-lg-10">
			{{checklist.title.rendered}}
		</p>
		<!--<pre>You are currently on page {{currentPage}}</pre>
		<ul uib-pager total-items="totalItems" ng-model="currentPage"></ul>-->
		<!--<a href="#" class="col-xs-2 col-lg-1"><i class="icons icon-arrow-right"> </i></a>-->

	</div>
</div>

<div class="wrapper">
	<div class="content container">

		<div class="clearfix row" role="main">
			<div class="col-xs-12">
				<div class="list-group checklist">
                    <!--<div ng-repeat="item in checklist.acf.ag_repeater_checklist | filterChecklist">-->

                    <div ng-repeat="item in checklist.acf.ag_repeater_checklist">
						<a  id="{{item.item_user.ID}}" class="list-group-item">
							<span ng-show="item.ag_true_false == true" class="check icons icon-check"></span>
							<span ng-show="item.ag_true_false == false" class="no-check icons icon-minus"></span>
							<p class="uncheck">{{item.ag_checklist_item}}</p>

							<a ng-click="editItem(checklist.id, item.id)"
							   ng-show="user.capabilities.edit_posts">Edit {{item.id}}</a>



						</a>
						<form name="editItemForm" id="editItem" style="display: none;" class="edit">
							<input type="text" id="id" ng-model="item.id" hidden>

                            <label for="description">Content</label>
							<input type="text" id="description" ng-model="item.item_description">
							<a ng-click="updateItem()">Save</a>
						</form>

						<p id="responseMessage"></p>
					</div>


				</div>
			</div>
		</div>

	</div>

</div>

<!--
<ul>
	<li ng-repeat="category in categories">
		<a href="blog/{{category.id}}">{{category.name}}</a>
	</li>
</ul>-->
