<header class="header" role="banner">
    <div class="header-inner clearfix">
        <p class="logo">
            NEWBIE
        </p>

        <div class="navigation-edit-toggle pull-right" id="settings">
            <i class="icons icon-settings"></i>
        </div>
        <article>

            <nav role="navigation" class="settings-navigation clearfix">
                <ul id="menu-mobile-navigation" class="mobile-nav">
                    <li><a href="#">Jouw Profiel</a>
                        <ul>
                            <li ng-show="user.capabilities.edit_posts"><a href="/mom-edit-picture/{{data.currentUser.id}}">Profielfoto wijzigen</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/mom-settings/{{data.currentUser.id}}">Bewerk jouw profiel</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/mom-edit/{{data.currentUser.id}}">Bewerk jouw gegevens</a></li>
                            <li ng-show="user.capabilities.edit_posts"><a href="/mom-weight/{{data.currentUser.id}}">Lichaamsmetingen</a></li>
                        </ul>
                    </li>
                    <li ng-hide="!data.currentUser.acf.name_child || !data.currentUser.acf.is_de_baby_geboren"><a href="/child">Baby</a>
                        <ul>
                            <li ng-show="user.capabilities.edit_posts" ng-hide="!data.currentUser.acf.name_child || !data.currentUser.acf.is_de_baby_geboren"><a href="/child-edit-picture/{{data.currentUser.id}}">Foto {{data.currentUser.acf.name_child}} wijzigen</a></li>
                            <li ng-show="user.capabilities.edit_posts" ng-hide="!data.currentUser.acf.name_child || !data.currentUser.acf.is_de_baby_geboren"><a href="/child-settings/{{data.currentUser.id}}">Wijzig profiel van {{data.currentUser.acf.name_child}}</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </article>

        <!--<a  ng-show="user.capabilities.edit_posts" class="btn pull-right right"-->
            <!--href="/mom-edit/{{data.currentUser.id}}"></a>-->

    </div>
</header>

<div say-hello class="clearfix profile-header no-gutter" role="main"></div>

<div class="wrapper" ng-if="data.currentUser.acf.due_date">

    <div class="content container" id="user">

        <div class="col-xs-12 col-md-5">


            <div class="clearfix row" role="main">
                <div class="col-xs-12 col-md-12">
                    <div ng-repeat="baby in posts_baby" class="blue-reverse-banner">
                        <div class="col col-xs-4 info-baby left">
                            <p>Grootte baby</p>
                            <p class="result">{{baby.acf.lenght}}<span> mm</span></p>
                        </div>
                        <div class="col col-xs-4 info-baby center">
                            <p class="stadia" id="{{baby.id}}">STADIA</p>
                            <p class="user-extra" ng-bind-html="baby.excerpt.rendered"></p>
                        </div>
                        <div class="col col-xs-4 info-baby right">
                            <p>Gewicht baby</p>
                            <p class="result">{{baby.acf.weight}}<span> gr</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix row">
                <div class="col-xs-12 col-md-12">
                    <section class="cd-horizontal-timeline loaded">
                        <div class="timeline">
                            <div class="events-wrapper">
                                <div class="events">
                                    <ol style="list-style: none;">
                                        <li class="older-event"></li>
                                        <li class="selected"></li>
                                    </ol>
                                    <div class="wrapper-filling-line">
                                        <div class="filling-line" aria-hidden="true" style="width: {{percentDate}}%;" ></div>
                                    </div>
                                </div> <!-- .events -->
                            </div> <!-- .events-wrapper -->
                        </div>
                    </section>
                </div>
            </div>



            <div ng-repeat="category in categories" class="clearfix row" role="main">
                <div class="col-xs-12 col-md-12">
                    <div class="blue-reverse-banner">
                        <div class="col col-xs-12 info-baby center">
                            <a href="category/{{category.id}}"><h2>{{category.name}}</h2></a>
                            <p>{{category.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-7">

            <div ng-repeat="post in posts" class="clearfix row" role="main">
                <div class="col-xs-12 col-md-12">
                    <div class="orange-reverse-banner">
                        <div class="col col-xs-12 info-baby center">
                            <a href="blog/{{post.slug}}"><h2 ng-bind-html="post.title.rendered"></h2></a>
                            <div ng-bind-html="post.excerpt.rendered"></div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
