<header class="header" role="banner">
	<div class="header-inner clearfix">
		<p class="logo">
		CHECKLISTS
		</p>
		<a ng-click="addPostShow()"
		   ng-show="user.capabilities.edit_posts"
		   class="logo-button add"><i class="icons icon-plus"></i></a>
	</div>
</header>

<div class="wrapper">

	<div class="content container">

		<div class="clearfix row" role="main">
			<div class="col-xs-12">
				<div class="list-group checklists">

					<div ng-repeat="checklist in checklists">
					<a  href="test/{{checklist.id}}" id="{{$index + 1}}" class="list-group-item">
						<span class="check icons icon-check"></span>
						<p class="uncheck">{{checklist.title.rendered}}</p>
						<span class="badge icons icon-arrow-right arrow"> </span>
						<span class="badge">{{checklist.acf.checklist_items.lengths }}</span>
						<!--filtered.length or try (data|filter:query).length-->
						<!--OR ng-repeat="person in data | filter:query as results" AND {{results.length}} -->
					</a>
						<button class="btn" ng-click="deletePostRepeater(checklist)">DELETE</button>

					</div>




					<form name="addPostForm" id="addPost" style="display: none;" class="edit">
						<label for="title">Title:</label>
						<input type="text" id="title" ng-model="checklist.title">

						<a ng-click="addPost()">Save</a>
					</form>
					<form name="editPostForm" id="editPost" style="display: none;" class="edit">
						<label for="title">Title:</label>
						<input type="text" id="title" ng-model="checklist.title">

						<a ng-click="editPost()">Save</a>
					</form>

					<p id="responseMessage"></p>

				</div>


			</div>
		</div>

	</div>

</div>