<header class="header" role="banner">
    <div class="header-inner clearfix">
        <p class="logo">
            TIMER
        </p>
    </div>
</header>

<div class="wrapper">
    <div class="content container">
        <div class="clearfix row" role="main">
            <div class="col-xs-12 col-sm-8 col-md-6 info-baby center">
                <h2>TIMER</h2>
                <div class="col-xs-12">
                    <input class="stopwatch" id="stopwatch" type="text" value="0:0:0">
                </div>
                <div class="col-xs-12">
                    <button class="button icons icon-control-play" id="startandstopbutton" type="button" onclick="startandstop();"></button>
                </div>
                <!--<input class="button" id="startandstopbutton" type="button" value="start" onclick="startandstop();">-->
                <!-- <textarea class="lap" id="lapdetails"></textarea> -->
            </div>
        </div>

        <div class="clearfix row">
            <div class="col-xs-6">
                <input class="button" id="marklapbutton" type="button" value="Mark Contraction" onclick="marklap();">
            </div>
            <div class="col-xs-6 pull-right">
                <input class="button pull-right" id="resetbutton" type="button" value="Reset Timer" onclick="resetstopwatch();">
            </div>
        </div>

        <div class="clearfix row">
            <div class="col-xs-12 col-sm-8 col-md-6">

                <div class="table-responsive">

                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Lap start</th>
                            <th>Contraction time</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <!--JS TIMER FILLS DATA-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>