<header class="header" role="banner">
    <div class="header-inner clearfix">
        <p class="logo">
            TIMER
        </p>
    </div>
</header>

<div class="wrapper">
    <div class="content container">
        <div class="col-xs-12 text-center info-baby">
            <div class="clearfix row" role="main">
                <h2>TIMER</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 info-baby text-center">
            <div class="clearfix row" role="main">
                <div class="col-xs-12">
                    <input class="stopwatch" id="stopwatch" type="text" value="0:0:0">
                </div>
                <div class="col-xs-12">
                    <button class="button icons icon-control-play" id="startandstopbutton" type="button" onclick="startandstop();"></button>
                </div>
                <!--<input class="button" id="startandstopbutton" type="button" value="start" onclick="startandstop();">-->
                <!-- <textarea class="lap" id="lapdetails"></textarea> -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 info-baby">
            <div class="clearfix row">
                <div class="pull-left">
                    <input class="button" id="marklapbutton" type="button" value="Markeer wee" onclick="marklap();">
                </div>
                <div class="pull-right">
                    <input class="button pull-right" id="resetbutton" type="button" value="Vernieuw Timer" onclick="resetstopwatch();">
                </div>
            </div>

            <div class="clearfix row">
                <div class="table-responsive">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Lap start</th>
                            <th>Contraction time</th>
                        </tr>
                        </thead>
                        <tbody id="counterTableBody">
                        <!--JS TIMER FILLS DATA-->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>