

		<header class="header" role="banner">
			<div class="header-inner clearfix">
				<p class="logo">
				CHECKLISTS
				</p>
				<a href="#" class="logo-button add"><i class="icons icon-plus"></i></a>
			</div>
		</header>

		<div class="wrapper">
			<div class="content container">

				<div class="clearfix row" role="main">
					<div class="col-xs-12">
						<div class="list-group checklists">
							<a href="checklist-mama.html" class="list-group-item">
								<span class="check icons icon-check"></span>
								<p class="uncheck">Kledij mama</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">4</span>
							</a>
							<a href="#" class="list-group-item">
								<span class="check icons icon-check"></span>
								<p class="uncheck">Kledij baby</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">14</span>
							</a>
							<a href="#" class="list-group-item">
								<p class="uncheck">Benodigdheden ziekenhuis</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">12</span>
							</a>
							<a href="#" class="list-group-item">
								<p class="uncheck">Eerste aankopen</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">16</span>
							</a>
							<a href="#" class="list-group-item">
								<p class="uncheck">Grote aankopen</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">9</span>
							</a>
							<a href="#" class="list-group-item">
								<span class="check icons icon-check"></span>
								<p class="uncheck">Voor papa</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">9</span>
							</a>
							<a href="#" class="list-group-item">
								<p class="uncheck">Aankopen na de bevalling</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">9</span>
							</a>
							<a href="#" class="list-group-item">
								<p class="uncheck">Websites</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">9</span>
							</a>
							<a href="#" class="list-group-item">
								<p class="uncheck">Finanicieël</p>
								<span class="badge icons icon-arrow-right arrow"> </span>
								<span class="badge">9</span>
							</a>
						</div>


					</div>
				</div>

			</div>

		</div>

		<footer class="footer" role="contentinfo">
			<div class="footer-inner clearfix">
				<p class="source-org copyright">&copy; 2016 Neeltje Chanterie</p>
				<div class="footer-links">
					<ul id="menu-footer-links" class="footer-nav cf">
						<li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href="#">Bachelorproef MMP-ProDev Arteveldehogeschool</a></li>
					</ul>
				</div>
			</div>
		</footer>
