// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------

[type=reset], [type=submit], button, html [type=button], .button, .btn {
  color: $white !important;
  background: $main-color;
  display: inline-block;
  font-family: TradeGothicCondensed,sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none !important;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 11px 20px 9px;
  padding: 1.1rem 2rem .9rem;
  transition: all .3s;
  letter-spacing: 3px;
  border: none;
  border-radius: 22px !important;
  &:hover{
    background: $secondary-color;
  }
}
.btn.secondary{
  background-color: $secondary-color;
  &:hover{
    background: $main-color;
  }
}

.navigation-edit-toggle [type=submit], .navigation-edit-toggle button, .navigation-edit-toggle [type=button]{
  background: none;
  font-size: 22px;
  padding: 0;
  margin: 0;
}